{% extends 'base.html' %}
{% block content %}
<h1>O CO CHODZI?</h1>
<p>Wyobraź sobie, że chcesz oddać coś potrzebującym... 
    Jest wiele dostępnych rozwiązań, ale wiele z nich wymaga dodatkowego wysiłku lub nie ma do nich zaufania.
     W zweryfikowane miejsca trzeba pojechać, a nie ma na to czasu lub nie ma jak tam pojechać,
      a kontenery pod domem lub lokalne zbiórki są niezweryfikowane i nie wiadomo czy te rzeczy 
      faktycznie trafią do potrzebujących.</p>

<p> Na naszej stronie nie musisz się niczego obawiać, ponieważ wszystkie nasze instytucje są zweryfikowane,
    a rzeczy które użytkownik chciałby oddać, odbierane są od niego prosto z domu.
</p>
{% endblock %}